soap_jms/Schemas/CalculatorInputs.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/soap_jms/Schemas/Schema.xsd3"
	 targetNamespace="http://www.tibco.com/schemas/soap_jms/Schemas/Schema.xsd3"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="CalculatorRequestInputs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FirstNumber"/>
				<xs:element ref="SecondNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FirstNumber" type="xs:double"/>
	<xs:element name="SecondNumber" type="xs:double"/>
</xs:schema>